{% extends 'base.html.twig' %}

{% block title %}Hello World{% endblock %}

{% block body %}


    <section class="bg-white lg:grid lg:h-screen lg:place-content-center all-height dark:bg-gray-900">
        <div class="mx-auto w-screen max-w-screen-xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8 lg:py-32">
            <div class="mx-auto max-w-prose text-center">
                <h1 class="text-4xl font-bold text-gray-900 sm:text-5xl dark:text-white">
                    Découvrez les meilleures expériences culinaires avec vos amis et
                    <strong class="text-indigo-600">améliorez</strong>
                    vos aventures gastronomiques
                </h1>
                <p class="mt-4 text-base text-pretty text-gray-700 sm:text-lg/relaxed dark:text-gray-200">
                    Rejoignez notre communauté pour noter et évaluer des restaurants avec vos amis. Créez des équipes, planifiez des sorties au restaurant, et partagez vos expériences pour trouver les meilleurs endroits en ville.
                </p>
                <div class="mt-4 flex justify-center gap-4 sm:mt-6">
                    <a
                        class="inline-block rounded border border-indigo-600 bg-indigo-600 px-5 py-3 font-medium text-white shadow-sm transition-colors hover:bg-indigo-700"
                        href="#"
                    >
                        Commencer
                    </a>
                    <a
                        class="inline-block rounded border border-gray-200 px-5 py-3 font-medium text-gray-700 shadow-sm transition-colors hover:bg-gray-50 hover:text-gray-900 dark:border-gray-700 dark:text-gray-200 dark:hover:bg-gray-800 dark:hover:text-white"
                        href="#"
                    >
                        En savoir plus
                    </a>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
